.country {
  position: relative;
  padding: 39px 0;
}

.country[data-open="true"] .country__list {
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.country__selected {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.country__selected span:first-child {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  text-align: right;

  color: var(--white);
  text-transform: uppercase;
  display: -webkit-box;
  overflow: hidden;
  white-space: nowrap;
  max-width: 110px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
}

.country__selected img {
  width: 36px;
  height: 36px;
  border-radius: 10px;
}

.country__selected span:nth-child(2) {
  margin: 0 13px 0 8px;
  line-height: 0;
}

.country__list {
  position: absolute;
  top: 80px;
  right: -10px;
  background-color: var(--black);
  min-width: 120px;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  overflow: hidden;
  width: 250px;
  max-height: 200px;
  max-width: 250px;
  text-overflow: ellipsis;
  z-index: 2;
}

.country__list.country__list_active {
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.country__list div {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  padding: 5px;
  transition: all 0.3s ease;
}

.country__list div:hover {
  background-color: var(--yellow);
}

.country__list div[data-active="true"] {
  background-color: var(--yellow);
}

.country__list div span {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  white-space: nowrap;
  text-align: right;

  color: var(--white);
  text-transform: uppercase;
  margin-right: 10px;
}

.country__list div img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.country__list aside {
  position: relative;
  padding-bottom: 40px;
  background-color: var(--black);
}

.country__list input {
  position: fixed;
  width: 248px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(219, 146, 0, 1);
  background-color: var(--black);
  color: var(--white);
  padding: 5px;
  border-radius: unset !important;
  -webkit-appearance: none;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 0 !important;
}

.country__list input::placeholder {
  color: white;
}

.country__list input:focus {
  border-radius: unset !important;
}
.country__list input:target-within {
  border-radius: unset !important;
}

@media (max-width: 768px) {
  .country__selected span:first-child {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .country__selected span:first-child {
    font-size: 10px;
  }

  .country__selected img {
    width: 30px;
    height: 25px;
    object-fit: cover;
  }
}
